@import "../../color";

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  .left-pane {
    width: 45%;
    padding-right: 10px;

    .mat-card {
      margin-bottom: 10px;
    }

    .dishArea {
      border: 1px solid $primary-border-color;
      padding: 10px;
      min-height: 200px;
    }
  }
}

.example-list {
  border: 1px solid $primary-border-color;
  padding: 10px;
  min-height: 100px;

  .example-box {
    background-color: $primary-text-color;
    border: 1px solid $secondary-border-color;
    padding: 10px;
    margin-bottom: 5px;
    cursor: grab;

    &:hover {
      background-color: $primary-border-color;
    }
  }
}
.dayList{
  border: 1px dotted $primary-border-color;
  padding: 10px;
  min-height: 100px;
}
.right-pane {
  width: 45%;
  padding-left: 10px;
  height: 100%;

  .day-column {
    margin-bottom: 20px;
  }
}

