@import "../../color.scss";

.register {
  padding: 2em;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  h2 {
    margin-top: 0;
    width: 100%;
  }

  form {
    .register__form-group {
      margin-bottom: 20px;
    }

    .register__label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .register__input {
      width: 100%;
      padding: 8px;
      border: 1px solid $primary-border-color;
      border-radius: 5px;
      box-sizing: border-box;

      &.ng-touched, &.ng-dirty {
        &.ng-valid {
          border: $secondary-border-color 2px solid;
          font-style: $secondary-border-color;
        }

        &.ng-invalid {
          border: $primary-color 3px solid;
          font-style: $primary-color;
        }
      }
    }

    .register__submit-btn {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: $primary-text-color;
      background-color: $secondary-border-color;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $primary-color;
      }

      &:disabled {
        background-color: $disabled-color;
        cursor: default;
      }
    }

    .register__error-message{
      color:$primary-color ;
    }
  }
}

@media (min-width: 400px) {
  .register {
    display: block;
    width: 300px;
    margin: 50px auto;
    border: 2px solid $primary-border-color;
    border-radius: 10px;
    background-color: $highlight-color;
  }
  h2{
    width: auto;
  }
  .register__input {
    width: calc(100% - 12px);
    border: 1px solid $primary-border-color;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .register__submit-btn{
  width: calc(100% - 12px);
  }
}
