.slideInLeft {
  transform: translateX(-100%);
}

.slideInLeftActive {
  transform: translateX(0);
}

.slideOutLeft {
  transform: translateX(-100%);
}

.slideOutLeftActive {
  transform: translateX(-100%);
}
