@import '../color.scss';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  min-height: 50px;
  height: 3em;
  max-height: 100px;
  background-color: $primary-color;
  border: solid 1px $primary-border-color;
  color: $primary-text-color;

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__center {
    flex-grow: 1;
    text-align: center;
  }

  &__logo {
    color: white;
    background-color: $highlight-color;
    border: solid $primary-border-color 1px;
    border-radius: 3em;
    min-height: 3em;
    max-height: 4em;
    max-width: 100%;
    height: auto;
  }

  &__icon {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;

    &--menu {
    }

    &--settings {
    }
  }

  &__username {
    margin-right: 10px;
  }

  .slideInLeft {
    transform: translateX(-100%);
  }

  .slideInLeftActive {
    transform: translateX(0);
  }

  .slideOutLeft {
    transform: translateX(-100%);
  }

  .slideOutLeftActive {
    transform: translateX(-100%);
  }

  @media (max-width: 768px) {
    .header__icon {
      font-size: 14px;
    }
  }

  @media (max-width: 576px) {
    .header__icon {
      display: none;
    }
  }
}
