<header class="header">
    <div class="header__left">
        <button class="header__icon header__icon--menu" (click)="toggleMenu()">Menu</button>
    </div>
    <div class="header__center">
        <img src="path/to/logo.png" alt="Logo" class="header__logo">
    </div>
    <div class="header__right">
        <button class="header__icon header__icon--settings">Settings</button>
        <span class="header__username">{{ username }}</span>
    </div>
</header>

<app-menu [@slideMenu]="menuState"></app-menu>
