<div class="menu"> <!-- Block -->
  <ul class="menu__list">
    <li class="menu__item"><img ngSrc="../../../assets/Menu_Icons/reshot-icon-menu-RCFVY3EB8J.svg"
                                alt="Schaltfläche für das Menü"
                                height="16" width="16"> <a
      routerLink="/"
      class="menu__link">Übersicht</a>
    </li>
    <li class="menu__item" *ngIf="!isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-check-in-28QDAR4CPV.svg" alt="Icon für Login" height="16"
      width="16"> <a routerLink="/login"
                     class="menu__link">Login</a>
    </li>
    <li class="menu__item" *ngIf="isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-check-out-DLKF3BV54J.svg" alt="Icon Logout" height="16" width="16">
      <a routerLink="/logout"
         class="menu__link">Logout</a>
    </li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'hungernde') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-list-UQ7FKRE2YS.svg" alt="Schaltfläche für die Bestellübersicht"
      height="16" width="16"> <a
      routerLink="/userOrderSummary" class="menu__link">Bestellübersicht Benutzer</a></li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'hungernde') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/icon-suggestion.svg" alt="Schaltfläche für Menüvorschläge" height="16"
      width="16"> <a
      routerLink="/createSuggestion" class="menu__link">Menüvorschlag</a>
    </li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'kantinenmitarbeiter') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/icon-review.svg" height="16" width="16"
      alt="Schaltfläche zum Bearbeiten der Menüvorschläge"
    > <a routerLink="/suggestionReview" class="menu__link">Menüvorschläge bearbeiten</a>
    </li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'kantinenmitarbeiter') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-add-8TPKZ5UW7V.svg"
      alt="Schaltfläche für das Formular zum Hinzufügen von Gerichten" height="16" width="16"> <a
      routerLink="/createDish" class="menu__link">Gerichte
      hinzufügen</a></li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'kantinenmitarbeiter') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-calendar-add-ZWS546HYPK.svg"
      alt="Schaltfläche für das Formular zum Erstellen des Essensplans." height="16" width="16"><a
      routerLink="/createMealPlan"
      class="menu__link">Essensplans
      Anlegen</a></li>
    <li class="menu__item" *ngIf="(userRole === 'admin' || userRole === 'kantinenmitarbeiter') && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-list-UQ7FKRE2YS.svg" alt="Schaltfläche für die Bestellübersicht"
      height="16" width="16"> <a
      routerLink="/workerOrderSummary"
      class="menu__link">Bestellübersicht
      Kantine</a></li>
    <li class="menu__item" *ngIf="userRole === 'admin' && isLoggedIn"><img
      ngSrc="../../../assets/Menu_Icons/reshot-icon-user-add-4NJEYFWKGB.svg"
      alt="Schaltfläche zum Registrierformular des Admins" height="16" width="16"> <a routerLink="/registerAdmin"
                                                                                      class="menu__link">Benutzer
      Registrieren</a></li>
  </ul>
</div>
