.settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border: 3px solid #6e6e6e;
  width: 40%;
  height: 80%;
  position: fixed;
  padding: 20px;
  padding-top: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  box-shadow: 0px 6px 100px -5px rgb(216, 66, 47);
  border-radius: 15px;
}



.allergies {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Allergien zentriert anzeigen */
}

.allergies label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 5px;
}

.settings button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #fff;
  background-color: #1ED760;
  height: 48px;
  :hover{
      transform: scale(1.04);
      background-color: #21e065;
  }

} 

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 15px;
  background-image: linear-gradient(to right, #8B0000, #5A0000);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

body {
  transition: background-color 0.5s;
}

.toggle-container {
  text-align: center;
  height: 100vh;
  display: table;
  width: 100%;
}

.switch {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
  }
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.toggle-wrapper {
  display: flex;
  align-items: center;
}

.close-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 0px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.leftright{
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #F25C66;
  border-radius: 2px;
  transform: rotate(45deg);
  transition: all .3s ease-in;
}

.rightleft{
  height: 3px;
  width: 30px;
  position: absolute;
  margin-top: 24px;
  background-color: #F25C66;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all .3s ease-in;
}
.close{
  color: black;
  margin: 60px 0 0 5px;
  position: absolute;
}

.close-container:hover .leftright{
  transform: rotate(-45deg);
  background-color: #F25C66;
}
.close-container:hover .rightleft{
  transform: rotate(45deg);
  background-color: #F25C66;
}
.close-container label {
  position: absolute;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: .3em;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  margin-top: 60px;
  transition: opacity 0.3s ease-in;
}

.close-container:hover label {
  opacity: 1;
}



/* Responsivität */
@media (max-width: 768px) {
  .settings {
    width: 80%; /* Bei kleinen Bildschirmen den Container auf volle Breite setzen */
  }
}
