<app-header (menuOrSettingsToggled)="ToggleBlurred($event)"></app-header>

<body [ngClass]="{ 'blurred': blurred }">

  <div class="login">
    <h2 class="login__title">Login</h2>
    <form [formGroup]="loginForm" class="login__form" (submit)="submit_login()">
      <div class="login__form-group">
        <label class="login__label" for="username">Username:</label>
        <input class="login__input" type="email" id="username" name="username" [maxlength]="50" formControlName="username" required>
      </div>
      <div class="login__form-group">
        <label class="login__label" for="password">Password:</label>
        <input class="login__input" type="password" id="password" name="password" [minlength]="8" [maxlength]="50" formControlName="password" required>
      </div>
      <button [disabled]="!loginForm.valid" class="login__submit-btn" type="submit">Login</button>
      <div class="register">
        <span>Neu bei Kantinerado?</span>
        <button class="login__register-btn" (click)="navigateToRegister()">Erstellen Sie einen Account</button>
      </div>
    </form>
  </div>
</body>
