$primary-color: #5E2028;
$primary-border-color: #3C1216;
$primary-text-color: #ffffff;
$highlight-color: #F5F5F5;
$disabled-color: #333333;

$secondary-color: #FAFAFA;
$secondary-border-color: #2E7830;

