@import"../../color.scss";
.login {
  width: 300px;
  margin: 50px auto;
  border: 2px solid $primary-border-color;
  border-radius: 10px;
  padding: 20px;
  background-color: $highlight-color;

  h2 {
    margin-top: 0;
  }

  form {
    .login__form-group {
      margin-bottom: 20px;
    }

    .login__label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }

    .login__input {
      width: calc(100% - 12px);
      padding: 8px;
      border: 1px solid $primary-border-color;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .login__submit-btn {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: $primary-border-color;
      color: $primary-text-color;
      cursor: pointer;
      transition: background-color 0.3s;
      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
